<div class="recipe-post mt-5">
    <div class="post-profile mb-3">
        <div class="post-profile-img">
            <img />
        </div>
        <div class="post-profile-info ms-2">
            <p class="fw-bold my-0">@{{usuario}}</p>
            <p class="my-0">{{data}}</p>
        </div>
    </div>
    
    <div class="recipe-card mx-auto">      
        <div class="recipe-content">
            <h2>{{titulo}}</h2>
            <p>{{descricao}}</p>
            
            <h3>Ingredientes</h3>
            <div class="ingredientes-wrapper">
                <a href="#" class="leia-mais-ingredientes">Leia mais</a>
            </div>
        </div>

        <div class="img-container">
            <img src="{{imagem}}" alt="Imagem da receita">
        </div>
    </div>



    <div class="post-actions row justify-content-between px-4">
        <div class="col-auto">
            <button><img src="../img/Smile.png"> 1,5K</button>
            <button id="like-btn"><img src="../img/Heart.png"><span id="likes"> {{likes}} </span></button>
            <button><img src="../img/Comments.png"> {{comentarios}} </button>
        </div>
        <div class="col-auto">
            <button><img src="../img/Star.png"></button>
        </div>
    </div>
</div>
  