<div class="sessao container d-flex flex-column align-items-center mt-2">
  <div class="input-box ingredientes-box">
    <div class="ingrediente-input-header">
      <label>Ingredientes</label>
      <div class="session-input">
        <input class="session-title-input" type="text" placeholder="Seção (Ex.: Recheio)">
        <img src="img/list.png" alt="Nome da Seção de Ingredientes" class="delete-session-btn" style="cursor: pointer;"/>
      </div>
    </div>
    <input type="text" required>
  </div>
  <div class="add-ingrediente-btn" onclick="addIngredienteInput(this)">
    <img src="img/add.png" alt="Adicionar Ingrediente">
  </div>
</div>