:root {
    --cor-preto: #161A1D;
    --cor-branco: #F5F3F4;
    --cor-primaria: #A4161A;
    --cor-secundaria: #660708;
    --cor-terciaria: #FCA311;
    --cor-background: #0F1519;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: var(--cor-preto);
    background-color: var(--cor-branco);
}

a {
    text-decoration: none;
    color: inherit;
}

.recipe-card {
    display: flex;
    align-items: stretch;
    max-width: 650px;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin: 16px;
    background-color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .recipe-card img {
    width: 170px;
    height: 100%;
    object-fit: cover;
  }
  
  .recipe-content {
    padding: 16px;
    flex: 1;
  }
  
  .recipe-content h2 {
    margin: 0 0 8px;
    font-size: 1.5em;
    color: #333;
  }
  
  .recipe-content .date {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 12px;
  }
  
  .recipe-content .description {
    text-align: start;
    font-size: 1em;
    color: #555;
  }
  