.feed {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--cor-branco);
  border-radius: 18px;
  box-shadow: 2px 2px 10px 1px rgba(214, 214, 214, 0.51);
}

.feed-actions {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 3px solid rgba(214, 214, 214, 0.51);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-color: var(--cor-branco);
}

.feed #recipeSearch {
  width: 50%;
  max-width: 500px;
  padding: 10px 20px;
  border-radius: 13px;
  border: 1px solid var(--cor-preto);
  font-size: 16px;
  min-height: 54px;
}

.botao-prim img {
  width: 30px;
  margin-right: 10px;
}

#share-text-2 {
  display: none;
}

#filter-img {
  display: none;
}

@media screen and (max-width: 1200px) {
  .botao-prim img {
    width: 20px;
    margin-right: 5px;
  }

  #share-text-2 {
    display: block;
  }

  #share-text-1 {
    display: none;
  }
}

@media screen and (max-width: 995px) {
  .feed {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #share-text-2 {
    display: none;
  }

  .botao-prim {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    padding: 0 !important;
    border: none;
  }

  .botao-prim img {
    margin: 0 auto;
  }

  #filter-img {
    width: 30px;
    display: block;
  }
}